<p>
    <mat-toolbar>
      <div style="width: 60%;">
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon [matMenuTriggerFor]="menu">home</mat-icon>
            <mat-menu #menu="matMenu">
              <a button mat-menu-item [routerLink]="['/books']">książki</a>
              <mat-divider></mat-divider>
              <a button mat-menu-item [routerLink]="['/authors']">autorzy</a>
              <mat-divider></mat-divider>
              <a button mat-menu-item [routerLink]="['/categories']">kategorie</a>
              <mat-divider></mat-divider>
              <a button mat-menu-item [routerLink]="['/publishers']">wydawnictwa</a>
              <mat-divider></mat-divider>
              <a mat-menu-item [routerLink]="['/languages']">języki</a>
            </mat-menu>
          </button>
        <span style="text-align: center;"><a mat-button [routerLink]="['/']">Lubię czytać...</a></span>
      </div>
      
      <div class="right-side" *ngIf="!this.auth.loginStatus">
        <div class="distanse">
          <a routerLink="/register">
            <button mat-raised-button color="primary">Rejestacja</button>
          </a>
        </div>

        <div class="distanse">
          <a routerLink="/login">
            <button mat-raised-button color="accent">Logowanie</button>
          </a>
        </div>
      </div>

      <div class="right-side" *ngIf="this.auth.loginStatus">
        <div class="distanse">
          <a routerLing="/">
            <button mat-raised-button color="accent" (click)="logout()">Wyloguj</button>
          </a>
        </div>
        
        <div class="distanse">
          <a routerLink="/profile/me">
            <button mat-raised-button color="accent">{{this.user.userName}}</button>
          </a>
        </div>
        
        <div class="distanse"*ngIf="this.permissions.hasPermissions">
          <a routerLink="/admin-panel">
            <button mat-raised-button color="primary">Panel administracyjny</button>
          </a>
        </div>
        
        

      </div>
    </mat-toolbar>
  </p>
  
