.mat-drawer-container{
    max-width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

