<mat-card>
    <mat-list *ngFor="let book of books">
        <mat-list-item>
            <a 
            mat-button 
            [routerLink]="['/books/book', book.id]" 
            style="margin-right: 40px; font-size: 20px">{{book.title}} </a> 
            <a 
            mat-raised-button color="accent" 
            [routerLink]="['/books/edit-book', book.id]"
            style="margin-left: 30px; margin-right: 30px; height: 70%; padding: auto;"
            *ngIf="canEdit">Edytuj</a>
            <button mat-raised-button color="warn"
            [routerLink]="['/books/delete-book', book.id]"
            style="margin-left: 30px; margin-right: 30px; height: 70%; padding: auto;"
            *ngIf="canDelete">Usuń</button>
            
            
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>

    <a 
    mat-raised-button 
    color="primary" 
    routerLink="/books/new-book"
    style="margin-left: auto; margin-right: 40px; margin-top: 20px;">dodaj autora</a>
    <a 
    mat-raised-button 
    color="primary" 
    routerLink="/books/approves"
    style="margin-left: auto; margin-right: 40px; margin-top: 20px;"
    *ngIf="canApprove">autorzy do zatwierdzenia</a>
</mat-card>