<div class="centerMe">
    <mat-card>
        <mat-card-content style="text-align: left;">
            <p>
                <mat-label style="font-size: 18px; padding-left: 20px;">nazwisko:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{author.surname}}</mat-label>
            </p>

            <p>
                <mat-label style="font-size: 18px; padding-left: 20px;">imię:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{author.name}}</mat-label>
            </p>

            <p *ngIf="author.name != null">
                <mat-label style="font-size: 18px; padding-left: 20px;">drugie imię:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{author.secondName}}</mat-label>
            </p>

            <p *ngIf="author.secondName != null">
                <mat-label style="font-size: 18px; padding-left: 20px;">biografia:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{author.biography}}</mat-label>
            </p>

            <p>
                <mat-label style="font-size: 18px; padding-left: 20px;">data narodzin</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{author.birthDate | date: 'dd.MM.yyyy'}}</mat-label>
            </p>

            <p *ngIf="author.deathDate != null">
                <mat-label style="font-size: 18px; padding-left: 20px;">data śmierci</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{author.deathhDate | date: 'dd.MM.yyyy'}}</mat-label>
            </p>

            <p>
                <mat-label style="font-size: 18px; padding-left: 20px;">dodany przez:</mat-label>
                <mat-label style="font-size: 14px; padding-left: 20px;">{{userName}}</mat-label>
            </p>
        </mat-card-content>
    </mat-card>
</div>