<mat-card>
    <mat-list>

        <mat-list-item>
            <a 
            mat-button 
            [routerLink]="['/books']" 
            style="margin-right: 40px; font-size: 20px">książki</a> 
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <a 
            mat-button 
            [routerLink]="['/authors']" 
            style="margin-right: 40px; font-size: 20px">autorzy</a> 
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <a 
            mat-button 
            [routerLink]="['/publishers']" 
            style="margin-right: 40px; font-size: 20px">wydawcy</a> 
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <a 
            mat-button 
            [routerLink]="['/categories']" 
            style="margin-right: 40px; font-size: 20px">kategorie</a> 
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <a 
            mat-button 
            [routerLink]="['/languages']" 
            style="margin-right: 40px; font-size: 20px">języki</a> 
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
            <a 
            mat-button 
            [routerLink]="['/permissions']" 
            style="margin-right: 40px; font-size: 20px">uprawnienia</a> 
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>

</mat-card>